@charset "UTF-8";
@media all and (min-width:550px){

body{
	margin:0;
}
.main-container1{
	max-width:1200px;
	width:100%;
	height:auto;
	margin:50px auto;
}

.notice{
	margin-top:50px;
	width:100%;
	height:140px;
	border:1px solid gray;
	position:relative;
	display:inline-block;
}
.img11{
	float:left;
	margin-left:20px;
	margin-top:40px;
}
.title-container{
	top:9%;
	position:absolute;
	left:10%;
	
}
.bulletin-intro-title{
	display:inline-block;
	font-size:20pt;
	float:left;
	color:black;
	font-weight:bold;
	
}

.bulletin-intro-content{
	float:left;
	margin-top:-10px;
	max-width:400px;
	width:100%;
	display:inline-block;
	font-size:12pt;
	font-weight:bold;
}
.click-container{
		top:20%;
	left:65%;
	position:absolute;
	
}
.click-num{
	
}

.click{
	
}
.posting-container{
		top:20%;
		left:80%;
		position:absolute;
	
}
.posting-num{
	
}

.posting{
	
}
}

@media all and (max-width:549px){
	
	
	}