@charset "UTF-8";
.roundTitle{
	width:100px;
	text-align:center;	
}
.getRoundDeliveryDate{
	width:100px;
	text-align:center;	
}
.sumPuppy{
	width:100px;
	text-align:center;	
}
.sumOriginal{
	width:100px;
	text-align:center;	
}
.sumSenior{
	width:100px;
	text-align:center;	
}
.sumFish{
	width:100px;
	text-align:center;	
}
.sumPork{
	width:100px;
	text-align:center;	
}
.sumKangaroo{
	width:100px;
	text-align:center;	
}
.sumHorse{
	width:100px;
	text-align:center;	
}