<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>doggerbox1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>doggerboxuser.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>doggerboxuser.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/userList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PuppyListServlet</servlet-name>
    <servlet-class>puppy.PuppyListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PuppyListServlet</servlet-name>
    <url-pattern>/PuppyList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PuppyRegisterServlet</servlet-name>
    <servlet-class>puppy.PuppyRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PuppyRegisterServlet</servlet-name>
    <url-pattern>/PuppyRegister</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>order.OrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/OrderList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>OrderRegisterServlet</servlet-name>
    <servlet-class>order.OrderRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderRegisterServlet</servlet-name>
    <url-pattern>/OrderRegister</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RecipeAdminServlet</servlet-name>
    <servlet-class>recipe.RecipeAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeAdminServlet</servlet-name>
    <url-pattern>/RecipeAdmin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RecipeListServlet</servlet-name>
    <servlet-class>recipeList.RecipeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeListServlet</servlet-name>
    <url-pattern>/RecipeList</url-pattern>
  </servlet-mapping>  
  
    <servlet>
    <servlet-name>OrderTotalListServlet</servlet-name>
    <servlet-class>order.OrderTotalListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderTotalListServlet</servlet-name>
    <url-pattern>/OrderTotalList</url-pattern>
  </servlet-mapping>  
  
    <servlet>
    <servlet-name>RoundRegisterServlet</servlet-name>
    <servlet-class>round.RoundRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoundRegisterServlet</servlet-name>
    <url-pattern>/RoundRegister</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RecipeUpdateServlet</servlet-name>
    <servlet-class>recipe.RecipeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeUpdateServlet</servlet-name>
    <url-pattern>/RecipeUpdate</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>GetCalendarServlet</servlet-name>
    <servlet-class>order.GetCalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCalendarServlet</servlet-name>
    <url-pattern>/GetCalendar</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>SetDueDateAvailableServlet</servlet-name>
    <servlet-class>order.SetDueDateAvailableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetDueDateAvailableServlet</servlet-name>
    <url-pattern>/SetDueDateAvailable</url-pattern>
  </servlet-mapping>
  
        <servlet>
    <servlet-name>UpdateDueDateServlet</servlet-name>
    <servlet-class>order.UpdateDueDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDueDateServlet</servlet-name>
    <url-pattern>/UpdateDueDate</url-pattern>
  </servlet-mapping>
  
          <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>user.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
            <servlet>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>user.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDelete</url-pattern>
  </servlet-mapping>
            <servlet>
    <servlet-name>PuppyUpdateServlet</servlet-name>
    <servlet-class>puppy.PuppyUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PuppyUpdateServlet</servlet-name>
    <url-pattern>/PuppyUpdate</url-pattern>
  </servlet-mapping>
            <servlet>
    <servlet-name>PuppyDeleteServlet</servlet-name>
    <servlet-class>puppy.PuppyDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PuppyDeleteServlet</servlet-name>
    <url-pattern>/PuppyDelete</url-pattern>
  </servlet-mapping>
            <servlet>
    <servlet-name>OrderUpdateServlet</servlet-name>
    <servlet-class>order.OrderUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderUpdateServlet</servlet-name>
    <url-pattern>/OrderUpdate</url-pattern>
  </servlet-mapping>
            <servlet>
    <servlet-name>OrderDeleteServlet</servlet-name>
    <servlet-class>order.OrderDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDeleteServlet</servlet-name>
    <url-pattern>/OrderDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>RoundUpdateServlet</servlet-name>
    <servlet-class>round.RoundUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoundUpdateServlet</servlet-name>
    <url-pattern>/RoundUpdate</url-pattern>
  </servlet-mapping>
            <servlet>
    <servlet-name>RoundDeleteServlet</servlet-name>
    <servlet-class>round.RoundDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoundDeleteServlet</servlet-name>
    <url-pattern>/RoundDelete</url-pattern>
  </servlet-mapping>
  
</web-app>